<div id="helpModal" class="modal hide" data-backdrop="static">
  <div class="modal-body text-center">
    <div class="text-center" style="margin-bottom:15px">
      <i class="icon-comments icon-4x"></i>
    </div>
    <div class="text-center">
      Need help or want to give feedback?<br>
      Visit our <b><a href="https://songistplayer.uservoice.com" target="_blank">Support & Feedback</a></b> site.
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="closeHelp()" class="btn" >Ok</button>
  </div>
</div>
